

/*----COMMON----*/
*{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#marketing, #benefits{
    color: #5A6E7F;
}

#strategic-planning, #benefits, #footer-top{
    background-color: var(--secondary-color);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.my-button{
    border-radius:2rem;
    background-color:white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
}

.flex{
    display: flex;

}

.card{
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}


img{
    max-width: 100%;
    object-fit: scale-down;
    display: block;
}

ul{
    list-style: none;
}

a, a:visited{
    text-decoration: none;
    color: black;
}